@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Linotte';
    src: url(./source/linotte_bold.woff),
        url(./source/linotte_regular.woff),
        url(./source/linotte_bold.ttf),
        url(./source/linotte_regular.ttf);
}

:root {
    --primary-color: rgba(252, 166, 63, 1);
    --primary-text: rgb(6, 143, 70);
    --height-header: 50px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display: none;
}
body {
    font-family: 'Linotte', sans-serif;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
}

/* Header */
header>section {
    height: 40px;
    color: #fff;
    background-color: var(--primary-color);
}
.options,
.menu {
    list-style: none;
    margin: 0;
}
.options-item {
    padding: 0px 8px;
}
.options-link {
    color: #fff;
}
.options-link,
.menu-link {
    text-decoration: none;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--height-header);
    margin: 1rem auto;
}
.logo {
    width: 75px;
    height: 100%;
    background-image: url(./source/logo1.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-menu {
    display: none;
}
.icon-menu.active {
    display: none;
}
.btn-close {
    display: none;
}
.btn-close.active {
    display: none;
}
.header__right {
    height: 100%;
    display: flex;
    align-items: center;
}
.header__right.active {
    display: block;
}
.menu {
    display: flex;
    align-items: center;
}
.menu-item {
    padding: 4px 8px;
}
.menu-link {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary-text);
}
.menu-link:hover {
    color: var(--primary-color)
}
.btn.search {
    display: flex;
    padding: 0 0 0 2rem;
    margin: 0.5rem auto;
}
.search input {
    display: none;
    padding: 4px 10px;
    border-radius: 4px;
    border-color: rgb(195, 195, 195);
}
.search input:focus {
    outline-color: var(--primary-color);
}
.search .btn {
    margin-left: 0.5rem;
    background-color: var(--primary-color);
    color: #fff;
}
.search i {
    font-size: 1.4rem;
}


/*Content */
.content {
    width: 100%;
    height: 100%;
}

/* banner */
.image-banner {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bannerOne>.image-banner {
    height: 80vh;
    background-image: url(./source/1.png);
}
.bannerTwo>.image-banner {
    height: 100vh;
    background-image: url(./source/11.png);
}

/* sale */
.content__sale {
    margin: 6rem 0;
}
.sale-description h5, 
.sale-description h3 {
    color: var(--primary-text);
}
.btn-description {
    color: #fff;
    background-color: var(--primary-color);
}
.box__voucher {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.box__voucher-t {
    padding: 1rem 1rem 0;
    height: 50%;
    background-color: var(--primary-color);
}
.box__voucher-t span {
    padding: 4px 10px;
    color: var(--primary-text);
    background-color: #fff;
    font-weight: 600;
    border-radius: 20px;
    font-size: 1.4rem;
}
.box__voucher-t p {
    color: #fff;
    font-weight: 500;
    margin: .5rem 0 1rem;
    font-size: 1.2rem;
}
.box__voucher-number {
    font-size: 4rem;
    text-align: center;
    color: var(--primary-color);
    font-weight: 700;
}

/* menu */
.content__menu {
    position: relative;
    color: #fff;
    width: 100%;
    height: 100%;
    min-height: 60vh;
}
.content__menu .btn {
    font-weight: 500;
    color: #fff;
    background-color: var(--primary-text);
}
.menu__box {
    position: absolute;
    top: -3rem;
    border-top: 3px solid var(--primary-color);
    font-weight: 600;
    padding: 3rem 2rem 2rem;
    width: 300px;
    border-radius: 20px;
    background-color: var(--primary-text);
}
.menu__box-title {
    font-size: 1.4rem;
}
.menu__box ul {
    padding: 0;
    list-style: none;
}
.menu__box ul li {
    padding: 5px 0;
}
.menu__box > span {
    font-size: .8rem;
    font-weight: 400;
}
.submenu {
    position: absolute;
    bottom: 0;
}
.submenu > .btn {
    min-width: 120px;
}
.submenu > .btn.active {
    color: var(--primary-text);
    background-color: #fff;
}
.menu-description {
    padding-left: 5%;
    padding-top: 10%;
}
.menu-description > .btn {
    margin-top: 2rem;
}


/* product */
.content__product {
    padding: 6rem 0;
}
.content__product-item {
    border: 3px solid var(--primary-color);
}
.product-item-name {
    letter-spacing: 3px;
    text-align: center;
    font-weight: 600;
    color: var(--primary-text);
    padding: 1rem 2rem;
    text-transform: uppercase;
}
.product-item-image {
    background-position: center;
    background-size: cover;
    height: 200px;
}
.product-item-price {
    position: relative;
    color: #fff;
    background-color: var(--primary-color);
    padding: 10px;
}
/* .product-item-price::before {
    content: "";
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    position: absolute;
    border-radius: 10px;
    right: 5%;
    width: 100px;
    height: 42px;
    top: 50%;
    transform: translateY(-50%);
} */
.product-item-price span {
    font-size: 1.8rem;
    font-weight: 700;
}

/* into */
.content__intro {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2rem 0 10rem;
    margin-bottom: 15rem;
    color: #fff;
    text-align: center;
}
.content__intro-itemImg {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content__intro-description {
    text-align: justify;
    padding: 1rem 5rem;
}

.content__intro > div:last-child {
    position: absolute;
    width: 100%;
}

/* advice */
.content__advice {
    position: relative;
    min-height: 70vh;
    margin-top: 20%;
    font-weight: 500;
}
.content__advice::before {
    position: absolute;
    content: "";
    bottom: 30%;
    right: 30px;
    width: 600px;
    height: 600px;
    background-image: url(./source/10.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
}
.content__advice-description {
    width: 50%;
    color: var(--primary-text);
}
.content__advice-description p {
    color: #000;
}
.content__advice-description .btn {
    margin-top: 2rem;
}
.content__statistics {
    text-align: center;
    margin: 3rem 0;
}
.content__statistics h1 {
    color: var(--primary-text);
    font-weight: bold;
}

/* note */
.content__note {
    margin: 5rem auto;
    color: var(--primary-text);
}
.content__note h1 {
    padding: .5rem 0 2rem;
}
.content__post {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)
}
.content__post-img {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content__post-name {
    padding: .5rem 0 0 3rem;
    text-align: start;
    position: relative;
}
.content__post-name::before {
    content: attr('');
    position: absolute;
    top: -1rem;
    left: -4px;
    height: 50px;
    border-radius: 4px;
    color: #fff;
    background-color: var(--primary-text);
}
.content__post-desc {
    text-align: justify;
    color: #000;
    padding: 0 8px 8px;
    line-height: 1.2;
}

/* contact */
.content__contact {
    position: relative;
    min-height: 60vh;
    padding: 2rem 0;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
}
.form {
    position: absolute;
    width: 350px;
    right: 0;
    top: -2rem;
    padding: 2rem 1rem .4rem;
    border-radius: 6px;
    background-color: var(--primary-color);
}
form input {
    font-size: 1.4rem;
    outline: none;
    border: none;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 5px 10px;
}

.content__contact-desc {
    padding: 3rem 0;
}

/* Footer */
.footer {
    margin-top: 2rem;
}

.footer-logo {
    width: 180px;
    height: 90px;
    background-image: url(./source/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer-menu {
    padding: 0;
    margin-top: 2rem;
    list-style: none;
    font-weight: bold;
}
.footer-menu h5 {
    color: var(--primary-text);
}
.footer-menu li {
    padding: 10px 0;
    border-bottom: 1px solid #888;
}
.footer-menu li:last-child {
    border: none;
}
.footer-menu p {
    margin: 0;
}
.footer .btn{
    margin-top: 10px;
    width: 50%;
    color: #fff;
    background-color: var(--primary-color);
}
.img-sub {
    padding: 5px;
    margin: .2rem 0 1rem;
    width: 50%;
    height: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./source/sub.png);
}
.footer input {
    outline: none;
    border-radius: 6px;
    padding: 2px 8px;
}